body {
  background-color: #d4ebd0;
}

hr {
  background: none;
  border-style: none;
  border-top-style: dotted;
  width: 5%;
  border-color: grey;
  border-width: 5px;

}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}

.t {
  color: #66BFBF;
}

.pic {
  background-color: red;
  border-radius: 100%;
}
img:hover {
  background-color: gold;
}
